{%extends 'core/base.html'%}
{%block title%}¡Acerca de nosotros!{%endblock%}

{%block content%}
    <div class="row">
        <div class="container">
            <div class="col-md-12">
                <div class="center">
                    <h1>
                        Nosotros
                    </h1>
                    <p class="center">
                        Somos una empresa creada por distintos vecinos, enfocada a la venta de productos de jardineria mediante sin fines de lucro  
                    </p>
            
                </div>
            </div>
        </div>
    </div>

{%  endblock %}